{% extends "navbase.html" %}
{% block content %}
<h1>Problems</h1>
<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>problem_type</th>
            <th>name</th>
            <th>problem_statement</th>
            <th>sample_input</th>
            <th>sample_output</th>
            <th>secret_input</th>
            <th>secret_output</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for problem in problems %}
        <tr>
            <td class="problem_id">{{ problem.id }}</td>
            <td class="problem_type">{{ problem.problem_type.name }}</td>
            <td class="problem_name">{{ problem.name }}</td>
            <td class="problem_statement">{{ problem.problem_statement }}</td>
            <td class="problem_sample_input">{{ problem.sample_input }}</td>
            <td class="problem_sample_output">{{ problem.sample_output }}</td>
            <td class="problem_secret_input">{{ problem.secret_input }}</td>
            <td class="problem_secret_output">{{ problem.secret_output }}</td>
            <td>
                <a href="{{ url_for('problems.problems_add', problem_id=problem.id) }}" class="btn btn-info btn-xs">edit</a>
                <a href="{{ url_for('problems.problems_del', problem_id=problem.id) }}" class="btn btn-danger btn-xs">del</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('problems.problems_add') }}" class="btn btn-primary">add</a>
{% endblock %}
