{% extends "viewbase.html" %}
{% block view %}
<h1>Problems</h1>

{% import 'pagination.html' as pagination %}
{{ pagination.render('problems.problems_view', problems) }}

<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>problem_type</th>
            <th>slug</th>
            <th>name</th>
            <th>enabled</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for problem in problems.items %}
        <tr>
            <td class="problem_id">{{ problem.id }}</td>
            <td class="problem_type">{{ problem.problem_type.name }}</td>
            <td class="problem_slug">{{ problem.slug }}</td>
            <td class="problem_name">{{ problem.name }}</td>
            <td class="problem_hidden">{{ problem.is_enabled }}</td>
            <td>
                <a href="{{ url_for('problems.problems_add', problem_id=problem.id) }}" class="btn btn-info btn-xs">edit</a>
                <form action="{{ url_for('problems.problems_del', problem_id=problem.id) }}" method="GET">
                    <button type="submit" id="del" class="btn btn-danger btn-xs">del</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('problems.problems_add') }}" class="btn btn-primary">add</a>
<hr />

<h2>Batch upload problem zip files</h2>

<form action="{{ url_for('problems.problems_batch_upload') }}" method="POST" enctype="multipart/form-data">
    <input type="file" name="problems" multiple>
    <br />
    <button type="submit" class="btn">upload</button>
</form>
{% endblock %}
