body {
    padding-top: 70px;
    padding-bottom: 20px;
}

.container {
}

#content {
    background-color:#fff;
    border-radius:3px;
    padding:10px;
}

#footer {
    padding-left: 0px;
    padding-right: 0px;
    color:#fff
}

.green {
    color: #00ff00;
}

.red {
    color: #ff0000;
}
