{% extends "navbase.html" %}
{% block content %}
<h1>Defendant</h1>
  <!-- This following dropdown block is heavily adapted from the one found
  in the W3Schools Bootstrap Tutorial, found at:
  http://www.w3schools.com/bootstrap/bootstrap_dropdowns.asp -->
<div>
    <ul >
      {% for problem in problems %}
        <a href="{{ url_for('defendant.problem', problem_id=problem.id) }}" class="btn btn-info btn-xs">
            {{ problem.name }}
        </a>
      {% endfor %}
    </ul>
</div>


<!--ul>
    <textarea name="submission" rows="10" cols="80">
        {% if selection %}
            {{ selection }}
        {% endif %}
        Temporary code area.
    </textarea>
</ul-->
{% endblock %}
