{% extends "navbase.html" %}
{% block content %}

{% if action_label == "Add" %}
    <h1>{{ action_label }}</h2>
{% endif %}

<form action="{{ url_for('clarifications.clarifications_add') }}" method="POST" class="form">

    <div class="form-group">
	<label for="problem">Problem</label>
	<br />
	<select name="problem">
            {% for problem in problems %}
	        <option value="{{ problem }}">{{ problem }}</option>
	    {% endfor %}
	</select>
    </div>
    <div class="form-group">
        <label for="name">Subject</label>
        <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" value="{{ subject }}" required>
    </div>
    <div class="form-group">
        <label for="syntax_mode">Contents</label>
        <input type="text" class="form-control" id="contents" name="contents" placeholder="Contents" value="{{ contents }}" required>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

{% endblock %}
