{% extends "viewbase.html" %}
{% block view %}
<h1>Users</h1>

{% import 'pagination.html' as pagination %}
{{ pagination.render('configurations.configurations_view', configs) }}

<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>key</th>
            <th>val</th>
            <th>valType</th>
            <th>category</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for config in configs.items %}
        <tr>
            <td class="config_id">{{ config.id }}</td>
            <td class="config_key">{{ config.key }}</td>
            <td class="config_val">{{ config.val }}</td>
            <td class="config_valType">{{ config.valType }}</td>
            <td class="config_category">{{ config.category }}</td>
            <td>
                <a href="{{ url_for('configurations.configurations_add', config_id=config.id) }}" class="btn btn-info btn-xs">edit</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
