{% macro render(endpoint, pagination, request='') %}
<nav>
<ul class="pagination">
{%- for page in pagination.iter_pages(left_edge=1, left_current=2, right_current=3, right_edge=1) %}
{% if page %}
    {% if page == pagination.page %}
    <li class="active"><a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a></li>
    {% else %}
    <li><a href="{{ url_for(endpoint, page=page) + request }}">{{ page }}</a></li>
    {% endif %}
{% else %}
<li class="disabled"><a href='#'>...</a></li>
{% endif %}
{%- endfor %}
</ul>
</nav>
{% endmacro %}