{% extends "viewbase.html" %}
{% block view %}
<h1>Users</h1>
<form action="{{ url_for('users.users_view') }}" method="GET">
    <div class="row">
        <div class="form-group col-xs-9 col-sm-10">
            <input type="text" class="form-control" id="search" name="search" 
                placeholder="Search term partial matches with user name or email" 
                {% if search %} value="{{ search }}" {% endif %}>
        </div>
        <div class="form-group col-xs-3 col-sm-2">
            <button type="submit" class="btn btn-default col-xs-12">Search</button>
        </div>
    </div>
    <div class="form-group">
        <select class="form-control" id="user_role" name="user_role" onchange="this.form.submit()">
            <option value="all" {% if user_role == "all" %}selected{% endif %}>Any User Role</option>
            <option value="operator" {% if user_role == "operator" %}selected{% endif %}>Operator</option>
            <option value="judge" {% if user_role == "judge" %}selected{% endif %}>Judge</option>
            <option value="defendant" {% if user_role == "defendant" %}selected{% endif %}>Defendant</option>
            <option value="executioner" {% if user_role == "executioner" %}selected{% endif %}>Executioner</option>
            <option value="observer" {% if user_role == "observer" %}selected{% endif %}>Observer</option>
        </select>
    </div>
</form>

{% import 'pagination.html' as pagination %}
{% if search and user_role %}
{{ pagination.render('users.users_view', users_pagination, '?search=' + search + '&user_role=' + user_role) }}
{% elif search %}
{{ pagination.render('users.users_view', users_pagination, '?search=' + search) }}
{% elif user_role %}
{{ pagination.render('users.users_view', users_pagination, '?user_role=' + user_role) }}
{% else %}
{{ pagination.render('users.users_view', users_pagination) }}
{% endif %}

<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>email</th>
            <th>name</th>
            <th>user_role</th>
            <th>num_runs</th>
            <th>last_submit_time</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td class="user_id">{{ user.id }}</td>
            <td class="user_email">{{ user.email }}</td>
            <td class="user_name">{{ user.email.split("@")[0] }}</td>
            <td class="user_name">{% for user_role in user.user_roles %}{{ user_role.id }} {% endfor %}</td>
            <td class="num_runs">{{ metrics[user.id]["num_runs"] }}</td>
            <td class="last_run_time">{{ metrics[user.id]["last_run"].submit_time }}</td>
            <td>
                <a href="{{ url_for('users.users_add', user_id=user.id) }}" class="btn btn-info btn-xs">edit</a>
                <form action="{{ url_for('users.users_del', user_id=user.id) }}" method="GET">
                    <button type="submit" id="del" class="btn btn-danger btn-xs">del</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ url_for('users.users_add') }}" class="btn btn-primary">add</a>

{% endblock %}
