{% extends "viewbase.html" %}
{% block view %}
<h1>Languages</h2>

{% import 'pagination.html' as pagination %}
{{ pagination.render('languages.languages_view', languages) }}

<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>syntax_mode</th>
            <th>is_enabled</th>
            <th>run_script</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for language in languages.items %}
        <tr>
            <td class="lang_id">{{ language.id }}</td>
            <td class="lang_name">{{ language.name }}</td>
            <td class="lang_syntax_mode">{{ language.syntax_mode }}</td>
            <td class="lang_is_enabled">{{ language.is_enabled }}</td>
            <td>...</td>
            <td>
                <a href="{{ url_for('languages.languages_add', lang_id=language.id) }}" class="btn btn-info btn-xs">edit</a>
                <form action="{{ url_for('languages.languages_del', lang_id=language.id) }}" method="GET">
                    <button type="submit" id="del" class="btn btn-danger btn-xs">del</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('languages.languages_add') }}" class="btn btn-primary">add</a>
{% endblock %}
