{% extends "navbase.html" %}
{% block content %}

{% if action_label == "Add" %}
    <h1>{{ action_label }} Contest</h2>
{% elif action_label == "Edit" %}
    <h1>{{ action_label }} Contest {{ contest.name }} (id: {{ contest.id }})</h2>
{% endif %}

<form action="{{ url_for('contests.contests_add') }}" method="POST" class="form">
    {% if contest.id %}
        <input type="hidden" name="contest_id" value="{{ contest.id }}">
    {% endif %}

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="{{ contest.name }}" required>
    </div>
    <div class="form-group">
        <label>Start Date and Time</label>
        <div class="form-inline">
            <input type="date" class="form-control" id="start_date" name="start_date" placeholder="YYYY-MM-DD" title="A valid time format is of the form YYYY-MM-DD" value="{{ contest.start_time and contest.start_time|dt_to_date_str }}" pattern="\d{4}-\d{2}-\d{2}" required>
            <input type="time" step="2" class="form-control" id="start_time" name="start_time" placeholder="HH:MM:SS" title="A valid time format is of the form HH:MM:SS" value="{{ contest.start_time and contest.start_time|dt_to_time_str }}" pattern="d{2}:d{2}:d{2}" required>
        </div>
    </div>
    <div class="form-group">
        <label>End Date and Time</label>
        <div class="form-inline">
            <input type="date" class="form-control" id="end_date" name="end_date" placeholder="YYYY-MM-DD" title="A valid time format is of the form YYYY-MM-DD" value="{{ contest.end_time and contest.end_time|dt_to_date_str }}" pattern="\d{4}-\d{2}-\d{2}" required>
            <input type="time" step="2" class="form-control" id="end_time" name="end_time" placeholder="HH:MM:SS" title="A valid time format is of the form HH:MM:SS" value="{{ contest.end_time and contest.end_time|dt_to_time_str }}" pattern="d{2}:d{2}:d{2}" required>
        </div>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" name="is_public" {% if contest.is_public == True %}checked="checked"{% endif %}> is_public?
        </label>
    </div>
    <div class="form-group">
        <label for="users">Users</label> — Choose from: {{ user_usernames }}
        <textarea type="text" class="form-control" id="users" name="users" placeholder="Users" rows="10">{% for user in contest.users %}{{ user.username }}
{% endfor %}</textarea>
    </div>
    <div class="form-group">
        <label for="problems">Problems</label> — Choose from: {{ problem_slugs }}
        <textarea type="text" class="form-control" id="problems" name="problems" placeholder="Problems" rows="10">{% for problem in contest.problems %}{{ problem.slug }}
{% endfor %}</textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

{% endblock %}
