{% extends "viewbase.html" %}
{% block view %}
<h1>Contests</h2>
<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>activate_time</th>
            <th>start_time</th>
            <th>freeze_time</th>
            <th>end_time</th>
            <th>deactivate_time</th>
            <th>is_public</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for contest in contests %}
        <tr>
            <td class="contest_id">{{ contest.id }}</td>
            <td class="contest_name">{{ contest.name }}</td>
            <td class="contest_activate_time">{{ contest.activate_time|dt_to_str }}</td>
            <td class="contest_start_time">{{ contest.start_time|dt_to_str }}</td>
            <td class="contest_freeze_time">{{ contest.freeze_time|dt_to_str }}</td>
            <td class="contest_end_time">{{ contest.end_time|dt_to_str }}</td>
            <td class="contest_deactivate_time">{{ contest.deactivate_time|dt_to_str }}</td>
            <td class="contest_is_public">{{ contest.is_public }}</td>
            <td>
                <a href="{{ url_for('contests.contests_add', contest_id=contest.id) }}" class="btn btn-info btn-xs">edit</a>
                <form action="{{ url_for('contests.contests_del', contest_id=contest.id) }}" method="GET">
                    <button type="submit" id="del" class="btn btn-danger btn-xs">del</button>
                </form>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('contests.contests_add') }}" class="btn btn-primary">add</a>
{% endblock %}
